<!-- <p>navbar works!</p> -->

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div>
            <a class="navbar-brand" [routerLink]="['/']">Library</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a></li>
            <li><a [routerLink]="['/book-list']" routerLinkActive="router-link-active">Book List</a></li>
            <li><a [routerLink]="['/add-book']" routerLinkActive="router-link-active">Add Book</a></li>
            <li><a [routerLink]="['/add-book-fire']" routerLinkActive="router-link-active">Add Book Fire</a></li>
            <li><a [routerLink]="['/add-book-rtdb']" routerLinkActive="router-link-active">Add Book RTDB</a></li>
            <li><a [routerLink]="['/clientes-v2']" routerLinkActive="router-link-active">Clientes_v2</a></li>
        </ul>

    </div>
</nav>