.left{float: left}
.right{float: left; padding: 25px;}

.superContainer {
    padding: 10px;
    padding-left: 30px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.book-details{ 
    margin: 0 auto; 
    width: 60%;
    height: 100vh 
}

.bookTile{padding:25px auto;}
.editButton{
    color :white !important;
    background-color: rgba(255, 222, 121, 0.96);
}

.detailsButton{
    color :white !important;
    background-color: rgb(114, 168, 255)
}

.book-imageUrl {
    width: 345px;
    height: 350px;
}
